<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= image_tag @character.photo_url %>
</p>

<p>
  <strong>Movie:</strong>
  <%= link_to @character.movie.title, @character.movie %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
